[mysqld]
# Only allow connections from localhost
bind-address = 127.0.0.1

datadir=/mariadb

# change to a path that exists
general_log_file = /logs/mysql.log
general_log      = 1


innodb_buffer_pool_size = 128MB
innodb_log_file_size = 2146435072
innodb_file_per_table=ON
innodb_read_io_threads=64
innodb_write_io_threads=64
innodb_file_format=barracuda

sync_binlog = 0
innodb_flush_log_at_trx_commit=2

default-time-zone = '+00:00'
character-set-server=utf8
collation-server=utf8_general_ci

max_allowed_packet = 200M%
